*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1 {
    margin-top: 30px;
	color: #333333;  
}

button {
    margin-top: 20px;
	padding: 10px 20px;
	background-color: #e907b8;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	border-radius: 0 15px 0 15px;
	border: none;
	cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

button.disabled {
    background-color: #33333377; 
    color: #d8d8d8; 
    pointer-events: none;    
    transform: translateY(2px);
}


#resultContainer {
    display: none;
	max-width: 400px;
	margin: 20px auto;
	text-align: left;
	border-radius: 17px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	padding: 20px;
}

#resultContainer p {
	margin: 10px 0;
}
